:host {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 6000px;
        display: flex;
    }
    .carousel-wrapper {
        overflow: hidden;
        width: 100%;
    }

    .carousel-item {
        margin-left: 5px;
        width: 250px;
    }
    .button-container {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        .btn {
            background-color: lightblue;
            margin-left: 10px;
        }
    }
}